
QWidget#scanBottomTools{
    width: 1920px;
    height: 120px;
/*    background: #FFFFFF;*/
    background-color: rgba(255, 255, 255, 1);
}

QToolButton#screenshot {
    width: 34px;
    height: 34px;
    border: none;
    qproperty-iconSize: 48px 48px;
    qproperty-icon:url(:/scanner/images/buttom/screenshotactive.png);
}

QToolButton#start {
    width: 34px;
    height: 34px;
    border: none;
    qproperty-iconSize: 48px 48px;
    qproperty-icon:url(:/scanner/images/buttom/start.png);
}

QToolButton#anchor {
    width: 34px;
    height: 34px;
    border: none;
    qproperty-iconSize: 48px 48px;
    qproperty-icon:url(:/scanner/images/buttom/anchor.png);
}

QToolButton#end {
    width: 34px;
    height: 34px;
    border: none;
    qproperty-iconSize: 48px 48px;
    qproperty-icon:url(:/scanner/images/buttom/end.png);
}

#screenshotLabel {
    width: 40px;
    height: 28px;
    /*  color: rgba(48, 79, 254, 1);*/
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

#startLabel {
    width: 40px;
    height: 28px;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

#anchorLabel {
    width: 64px;
    height: 28px;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

#endLabel {
    width: 40px;
    height: 28px;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

#screenshotButton{
    border: none;
    background-color: rgba(73, 83, 102, 0.06);
}

#startButton{
    border: none;
    background-color: rgba(73, 83, 102, 0.06);
}

#anchorButton{
    border: none;
    background-color: rgba(73, 83, 102, 0.06);
}

#endButton{
    border: none;
    background-color: rgba(73, 83, 102, 0.06);
}
