
#bottomTools{
    width: 1920px;
    height: 186px;
    image: url(:/scanner/images/buttom/bottom.png);
}

QToolButton#capture{
    border: none;
    qproperty-iconSize: 48px 48px;
    qproperty-icon:url(:/scanner/images/buttom/captureactive.png);
}

QToolButton#management{
    border: none;
    qproperty-iconSize: 48px 48px;
    qproperty-icon:url(:/scanner/images/buttom/management.png);
}

QToolButton#settings{
    border: none;
    qproperty-iconSize: 48px 48px;
    qproperty-icon:url(:/scanner/images/buttom/settings.png);
}

#captureLabel {
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
}

#managementLabel {
    width: 80px;
    height: 28px;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
}

#settingsLabel {
  width: 80px;
  height: 28px;
  color: rgba(51, 51, 51, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  text-align: left;
  white-space: nowrap;
}

#captureButton{
    border: none;
}

#managementButton{
    border: none;
}

#settingsButton{
    border: none;
}
