QWidget#managePreBottomTools {
    background-color: rgba(0, 0, 0, 0.01);
    width: 1920px;
    height: 120px;
    image: url(:/scanner/images/buttom/managementprenav.png);
}

/*
QLabel *doScanLabel;
QLabel *doDelLabel;
QLabel *detailLabel;
*/

QToolButton#doScanToolButton {
    border: none;
    qproperty-iconSize: 48px 48px;
    qproperty-icon: url(:/scanner/images/buttom/doscan.png);
}
QToolButton#doDelToolButton {
    border: none;
    qproperty-iconSize: 48px 48px;
    qproperty-icon: url(:/scanner/images/buttom/dodel.png);
}
QToolButton#detailToolButton {
    border: none;
    qproperty-iconSize: 48px 48px;
    qproperty-icon: url(:/scanner/images/buttom/detail.png);
}

#doScanPushButton {
    border: none;
}
#doDelPushButton {
    border: none;
}
#detailPushButton {
    border: none;
}
