
QWidget#BottomManagement {
    background-color: rgba(255, 255, 255, 1);
    width: 1920px;
    height: 120px;
}

QToolButton#previewIcon {
    border: none;
    qproperty-iconSize: 48px 49px;
    qproperty-icon: url(:/scanner/images/management/preview.png);
}

#previewLabel {
    width: 40px;
    height: 28px;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

QToolButton#renameIcon {
    border: none;
    qproperty-iconSize: 48px 49px;
    qproperty-icon: url(:/scanner/images/management/edit.png);
}

#renameLabel {
    width: 60px;
    height: 28px;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

QToolButton#delIcon {
    border: none;
    qproperty-iconSize: 48px 49px;
    qproperty-icon: url(:/scanner/images/management/trash.png);
}

#delLabel {
    width: 40px;
    height: 28px;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

QToolButton#detailIcon {
    border: none;
    qproperty-iconSize: 48px 49px;
    qproperty-icon: url(:/scanner/images/management/detail.png);
}

#detailLabel {
    width: 40px;
    height: 28px;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

QToolButton#infoIcon {
    border: none;
    qproperty-iconSize: 48px 49px;
    qproperty-icon: url(:/scanner/images/management/info.png);
}

#infoLabel {
    width: 40px;
    height: 28px;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

QToolButton#exportIcon {
    border: none;
    qproperty-iconSize: 48px 49px;
    qproperty-icon: url(:/scanner/images/management/export.png);
}

#exportLabel {
    width: 40px;
    height: 28px;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

#previewButton {
    border: none;
}
#renameButton {
    border: none;
}
#delButton {
    border: none;
}
#detailButton {
    border: none;
}
#infoButton {
    border: none;
}
#infoButton {
    border: none;
}
#exportButton {
    border: none;
}
