
#backWidget {
    background-color: rgba(24, 24, 24, 0.6);
    height: 1920px;
    width: 1080px;
}

#mainWidget {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    height: 466px;
    width: 750px;
}

#closeButton {
    border: none;
    qproperty-iconSize: 26px 26px;
    qproperty-icon:url(:/scanner/images/close.png);
}

#label {
    width: 120px;
    height: 30px;
    color: rgba(42, 38, 56, 1);
    font-size: 30px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

#lineEdit {
    background-color: rgba(246, 248, 250, 1);
    border-radius: 24px;

    color: rgba(162, 171, 189, 1);
    font-size: 28px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

#save {
    background-color: rgba(48, 79, 254, 1);
    border-radius: 24px;
    height: 102px;
    width: 642px;

    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-family: PingFangSC-Medium;
    text-align: center;
    white-space: nowrap;
    line-height: 24px;
}
