#FolderItem {
/*    background-color: rgba(255, 255, 255, 1);*/
}

#mainWidget {
/*  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);*/
/*  background-color: rgba(0, 255, 255, 1);*/
/*  border-radius: 24px;*/
}

#FolderItem {

}

#mainWidget {
}

#label {
  color: rgba(73, 83, 102, 1);
  font-size: 20px;
  font-family: PingFangSC-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 28px;
}

#folderIcon {

}

#discribe {
  color: rgba(76, 76, 76, 1);
  font-size: 24px;
  font-family: PingFangSC-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 33px;
}
