
QWidget#ManagementPre {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
}

#mainWidget {
    background-color: rgba(24, 24, 24, 1);
    border-radius: 24px;
    image: url(:/scanner/images/management/predef.png);
}
