QWidget#ManagementInfo {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
}

#backWidget {
    background-color: rgba(24, 24, 24, 0.6);
    height: 1920px;
    width: 1080px;
}

#mainWidget {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
}

#infoLabel {
    width: 52px;
    height: 37px;
    color: rgba(42, 38, 56, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#closeButton {
    border: none;
    qproperty-iconSize: 20px 20px;
    qproperty-icon:url(:/scanner/images/close.png);
}

#line_top {
    background-color: rgba(236, 236, 236, 1);
    width: 640px;
    height: 1px;
}


#nameLabel {
    width: 80px;
    height: 64px;
    color: rgba(73, 83, 102, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: right;
    line-height: 64px;
}

#nameVal {
    width: 180px;
    height: 64px;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: right;
    line-height: 64px;
}


#typeLabel {
    width: 40px;
    height: 64px;
    color: rgba(73, 83, 102, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: left;
    line-height: 64px;
}


#typeVal {
    width: 60px;
    height: 64px;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: right;
    line-height: 64px;
}


#contentLabel {
    width: 40px;
    height: 64px;
    color: rgba(73, 83, 102, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: left;
    line-height: 64px;
}

#contentVal {
    width: 41px;
    height: 64px;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: right;
    line-height: 64px;
}


#localLabel {
    width: 40px;
    height: 64px;
    color: rgba(73, 83, 102, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: left;
    line-height: 64px;
}

#localVal {
    width: 195px;
    height: 64px;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: right;
    line-height: 64px;
}


#updateTimeLabel {
    width: 80px;
    height: 64px;
    color: rgba(73, 83, 102, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: right;
    line-height: 64px;
}

#updateTimeVal {
    width: 239px;
    height: 64px;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: right;
    line-height: 64px;
}


#line {
    background-color: rgba(236, 236, 236, 1);
    width: 560px;
    height: 1px;
}
#line_2 {
    background-color: rgba(236, 236, 236, 1);
    width: 560px;
    height: 1px;
}
#line_3 {
    background-color: rgba(236, 236, 236, 1);
    width: 560px;
    height: 1px;
}
#line_4 {
    background-color: rgba(236, 236, 236, 1);
    width: 560px;
    height: 1px;
}

