
#mainWidget {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px 16px 16px 16px;
    height: 940px;
    width: 1872px;
}

QTableWidget#tableWidget {
    background-color: rgba(255, 255, 255, 1);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;

    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: center;
    white-space: nowrap;
    line-height: 37px;
}

QHeaderView {
    background-color: rgba(255, 255, 255, 1);
}

QHeaderView::section {
    background-color: rgba(227, 230, 233, 0.3);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin: 0px 0px 30px 0px;

    color: rgba(148, 148, 148, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

QHeaderView::section:first {
    background-color: rgba(227, 230, 233, 0.3);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

QHeaderView::section:last {
    background-color: rgba(227, 230, 233, 0.3);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
