
#Scan{
    background-color: rgba(227, 230, 233, 1);
}

#scanCenterWidget{
    background-color: rgba(227, 230, 233, 1);
}

#scanMainWidget{
}

#scanInfo {
    height: 188px;
    image: url(:/scanner/images/scan/info.png);
}

#scanDurationLabel {
    width: 126px;
    height: 25px;
    color: rgba(73, 83, 102, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 25px;
}

#scanDuration {
    width: 136px;
    height: 43px;
    color: rgba(51, 51, 51, 1);
    font-size: 36px;
    font-family: Helvetica;
    text-align: left;
    white-space: nowrap;
    line-height: 36px;
    margin-top: 4px;
}

#scanStatus {
    width: 46px;
    height: 46px;
    image: url(:/scanner/images/scan/status.svg);
}

#scanStatusLabel {
    width: 80px;
    height: 28px;
    color: rgba(76, 76, 76, 1);
    font-size: 20px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

#scanTimeLabel {
    width: 72px;
    height: 25px;
    color: rgba(73, 83, 102, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 25px;
}

#scanTime {
    width: 130px;
    height: 24px;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: Helvetica;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
}


#scanAccuracyLabel {
    width: 72px;
    height: 25px;
    color: rgba(73, 83, 102, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 25px;
}

#scanAccuracy {
    width: 73px;
    height: 24px;
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: Helvetica;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;

}

#scanTimeSumLabel {
    width: 90px;
    height: 25px;
    color: rgba(73, 83, 102, 1);
    font-size: 18px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 25px;
}

#scanTimeSum {
    width: 76px;
    height: 28px;
    color: rgba(102, 102, 102, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
}

#diskInfo{
    width: 360px;
    height: 202px;
    background: #FFFFFF;
    border-radius: 12px;
}

#diskInfoLabel {
    width: 80px;
    height: 28px;
    color: rgba(73, 83, 102, 1);
    font-size: 20px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

#diskInfoUsedIcon {
    background-color: rgba(31, 120, 255, 1);
    border-radius: 6px;
}

#label_18 {
    background-color: rgba(202, 205, 213, 1);
    border-radius: 6px;
}


#diskInfoUsedLabel {
    width: 43px;
    height: 21px;
    color: rgba(73, 83, 102, 1);
    font-size: 18px;
    font-family: Helvetica;
    text-align: left;
    white-space: nowrap;
    line-height: 18px;
}

#diskInfoFreeLabel {
    width: 36px;
    height: 21px;
    color: rgba(73, 83, 102, 1);
    font-size: 18px;
    font-family: Helvetica;
    text-align: left;
    white-space: nowrap;
    line-height: 18px;
}

#diskInfoUsed {
    width: 66px;
    height: 30px;
    color: rgba(51, 51, 51, 1);
    font-size: 22px;
    font-family: PingFangSC-Medium;
    text-align: center;
    white-space: nowrap;
    line-height: 30px;
}

#diskInfoFree {
    width: 63px;
    height: 32px;
    color: rgba(51, 51, 51, 1);
    font-size: 22px;

    font-family: PingFangSC-Medium;
    text-align: center;
    white-space: nowrap;
    line-height: 32px;
}

#scanListLable {
    width: 80px;
    height: 28px;
    color: rgba(73, 83, 102, 1);
    font-size: 20px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

/*scanSetting*/
#scanSettingLabel {
    width: 80px;
    height: 28px;
    color: rgba(73, 83, 102, 1);
    font-size: 20px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

#scanSettingPreview {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    height: 204px;
    width: 170px;
}

QToolButton#scanSettingPreviewImg {
    width: 36px;
    height: 36px;
    border: none;
    qproperty-iconSize: 36px 36px;
    qproperty-icon:url(:/scanner/images/scan/preview.png);
}


#scanSettingPreviewLabel {
    width: 88px;
    height: 30px;
    color: rgba(51, 51, 51, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

#scanSettingPreviewOp {
    border: none;
    qproperty-iconSize: 50px 30px;
    qproperty-icon:url(:/scanner/images/scan/on.png);
}

#scanSettingAuto {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    height: 204px;
    width: 170px;
}


QToolButton#scanSettingAutoImg {
    width: 36px;
    height: 36px;
    border: none;
    qproperty-iconSize: 36px 36px;
    qproperty-icon:url(:/scanner/images/scan/auto.png);
}



#scanSettingAutoLabel {
    width: 88px;
    height: 30px;
    color: rgba(51, 51, 51, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

#scanSettingAutoOp {
    border: none;
    qproperty-iconSize: 50px 30px;
    qproperty-icon:url(:/scanner/images/scan/off.png);
}


#scanISO {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    height: 153px;
    width: 360px;
}

#scanISOLabel {
    width: 36px;
    height: 30px;
    color: rgba(51, 51, 51, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

#label_29 {
    background-color: rgba(236, 236, 236, 1);
    width: 312px;
    height: 1px;
}


#scanISOSpeedLabel {
    width: 88px;
    height: 30px;
    color: rgba(51, 51, 51, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    }


#scanISOVal {
    color: rgba(76, 76, 76, 1);
    font-size: 22px;
    font-family: SFPro-Black;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

#scanISOEdit {
    border: none;
    qproperty-iconSize: 12px 22px;
    qproperty-icon:url(:/scanner/images/scan/disclosure.png);
}

#scanISOSpeedVal {
    color: rgba(76, 76, 76, 1);
    font-size: 22px;
    font-family: SFPro-Black;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}

#scanISOSpeedEdit {
    border: none;
    qproperty-iconSize: 12px 22px;
    qproperty-icon:url(:/scanner/images/scan/disclosure.png);
}

#scanIMU {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    height: 165px;
    width: 360px;
}


#scanIMUImg {
    width: 34px;
    height: 34px;
    image: url(:/scanner/images/scan/imu.png);
}
#scanIMULabel {
    width: 85px;
    height: 30px;
    color: rgba(51, 51, 51, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

#scanIMUOp {
    border: none;
    qproperty-iconSize: 50px 30px;
    qproperty-icon:url(:/scanner/images/scan/on.png);
}

#label_34 {
      background-color: rgba(236, 236, 236, 1);
      width: 312px;
      height: 1px;
}

#scanIMUTime {
    width: 88px;
    height: 30px;
    color: rgba(51, 51, 51, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}


#scanIMUEdit {
    border: none;
    qproperty-iconSize: 12px 22px;
    qproperty-icon:url(:/scanner/images/scan/disclosure.png);
}

#scanIMUVal {
    color: rgba(76, 76, 76, 1);
    font-size: 22px;
    font-family: SFPro-Black;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
}


#scanWidget {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
}

#view_front {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
}

#front_img {
    image: url(:/scanner/images/scan/front.png);
}

#frontLabelD1 {
    color: rgba(171, 176, 189, 1);
    font-size: 14px;
    font-family: SFProDisplay-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 16px;
}

#frontLabelD2 {
    background-color: rgba(171, 176, 189, 1);
}

QWidget#frontVideoWidget{
    background-color: rgba(227, 230, 233, 1);
    border-radius: 12px;
}

#view_front_label {
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

#view_back {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
}

#back_img {
    image: url(:/scanner/images/scan/behand.png);
}

#view_back_label {
    color: rgba(51, 51, 51, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

#backLabelD1 {
    color: rgba(171, 176, 189, 1);
    font-size: 14px;
    font-family: SFProDisplay-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 16px;
}

#backLabelD2 {
    background-color: rgba(171, 176, 189, 1);
}

/*backVideoWidget*/
#backVideoWidget{
    background-color: rgba(227, 230, 233, 1);
    border-radius: 12px;
}

#scanMainDefaultLabel {
    width: 160px;
    height: 28px;
    color: rgba(73, 83, 102, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

#scanMainDefaultImg {
    image: url(:/scanner/images/scan/defaultlarge.png);
}

#frontVideoDefaultImg {
    image: url(:/scanner/images/scan/defaultsmall.png);
}
#backVideoDefaultImg {
    image: url(:/scanner/images/scan/defaultsmall.png);
}


#toolButton {
    border: none;
    qproperty-iconSize: 48px 48px;
    qproperty-icon:url(:/scanner/images/scan/icon_n.png);
}
#toolButton_2 {
    border: none;
    qproperty-iconSize: 48px 48px;
    qproperty-icon:url(:/scanner/images/scan/icon_f.png);
}
#toolButton_3 {
    border: none;
    qproperty-iconSize: 48px 48px;
    qproperty-icon:url(:/scanner/images/scan/icon_d.png);
}
#toolButton_4 {
    border: none;
    qproperty-iconSize: 48px 48px;
    qproperty-icon:url(:/scanner/images/scan/icon_s.png);
}
#toolButton_5 {
    border: none;
    qproperty-iconSize: 48px 48px;
    qproperty-icon:url(:/scanner/images/scan/icon_r.png);
}

QComboBox#comboBox{
    background-color: rgba(255, 255, 255, 1);
    border: 1.5px solid rgba(226, 226, 226, 0.43);
/*    border-radius:24px;*/

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;

    padding: 0 0 0 20px;
}

QComboBox#comboBox_2{
    background-color: rgba(255, 255, 255, 1);
    border: 1.5px solid rgba(226, 226, 226, 0.43);
/*    border-radius:24px;*/

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;

    padding: 0 0 0 20px;
}

QComboBox#comboBox_3{
    background-color: rgba(255, 255, 255, 1);
    border: 1.5px solid rgba(226, 226, 226, 0.43);
/*    border-radius:24px;*/

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;

    padding: 0 0 0 20px;
}

QComboBox#comboBox_4{
    background-color: rgba(255, 255, 255, 1);
    border: 1.5px solid rgba(226, 226, 226, 0.43);
/*    border-radius:24px;*/

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;

    padding: 0 0 0 20px;
}
QComboBox#comboBox_5{
    background-color: rgba(255, 255, 255, 1);
    border: 1.5px solid rgba(226, 226, 226, 0.43);
/*    border-radius:24px;*/

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;

    padding: 0 0 0 20px;
}
QComboBox#comboBox_6{
    background-color: rgba(255, 255, 255, 1);
    border: 1.5px solid rgba(226, 226, 226, 0.43);
/*    border-radius:24px;*/

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;

    padding: 0 0 0 20px;
}
QComboBox#comboBox_7{
    background-color: rgba(255, 255, 255, 1);
    border: 1.5px solid rgba(226, 226, 226, 0.43);
/*    border-radius:24px;*/

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;

    padding: 0 0 0 20px;
}


AccountItem {
    qproperty-mouseTracking: 1;
}

QComboBox QAbstractItemView {
    margin-top: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);

    width: 80px;
    height: 33px;
    color: rgba(42, 38, 56, 1);
    font-size: 24px;
    font-family: PingFangSC-Semibold;
    text-align: center;
    white-space: nowrap;
    line-height: 33px;
    padding: 0 0 0 20px;
}
QComboBox QAbstractItemView::item {
    height: 88px;

    color: rgba(42, 38, 56, 1);
    font-size: 24px;
    font-family: PingFangSC-Semibold;
    text-align: center;
    white-space: nowrap;
    line-height: 33px;
}

QComboBox QAbstractItemView::item:hover {
  color: rgba(31, 120, 255, 1);
}

QComboBox QAbstractItemView::item:selected
{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
}

QComboBox::drop-down{
    width: 20px;
    background: transparent;
    padding-right: 25px;
}

QComboBox QAbstractItemView QScrollBar::handle{
    background:#cccccc;
    border-radius:3px;
    width: 6px;
}
QComboBox QAbstractItemView QScrollBar::sub-line{
    background:transparent;
}
QComboBox QAbstractItemView QScrollBar::add-line{
    background:transparent;
}

QComboBox::down-arrow{
    image: url(:/scanner/images/toscan/down.png);
}
QComboBox::down-arrow:hover{
    image: url(:/scanner/images/toscan/down.png);
}
QComboBox::down-arrow:on{
    image: url(:/scanner/images/toscan/up.png);
}


