
#mainWidget {
    background-color: rgba(227, 230, 233, 1);
    width: 1920px;
    height: 1080px;
}

#centerWidget {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    z-index: 20;
    height: 468px;
    width: 1872px;
    position: relative;
    justify-content: flex-center;
}

#nameLabel {
    width: 104px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#useLabel {
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#useValLabel {
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#label {
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#totalLabel {
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#icon1 {
    background-color: rgba(48, 79, 254, 1);
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

#icon2 {
    background-color: rgba(48, 79, 254, 1);
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

#icon3 {
    background-color: rgba(48, 79, 254, 1);
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

#label1 {
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#label2 {
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#label3 {
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
