
#mainWidget {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px 16px 16px 0px;
    width: 1602px;
    height: 940px;
}

#cpuLabel {
    width: 88px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

#memLabel {
    width: 88px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}
#ssdLabel {
    width: 88px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}



#interfaceLabel {
    width: 88px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}
#wifiLabel {
    width: 88px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}
#blueLabel {
    width: 88px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}


#clLabel {
    width: 88px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}
#imuLabel {
    width: 88px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}
#disLabel {
    width: 88px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}


#sizeLabel {
    width: 88px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}
#pixLabel {
    width: 88px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}
#lightLabel {
    width: 88px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

#operLabel {
    width: 88px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

#cpuValLabel {
    width: 83px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#memValLabel {
    width: 83px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#ssdValLabel {
    width: 83px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#interfaceValLabel {
    width: 83px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#wifiValLabel {
    width: 83px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#buleValLabel {
    width: 83px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}


#clValLabel {
    width: 83px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#imuValLabel {
    width: 83px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#disValLabel {
    width: 83px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#sizeValLabel {
    width: 83px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#pixValLabel {
    width: 83px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#lightValLabel {
    width: 83px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#operValLabel {
    width: 83px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#line {
    background-color: rgba(218, 221, 230, 1);
    width: 1392px;
    height: 1px;
}
#line_2 {
    background-color: rgba(218, 221, 230, 1);
    width: 1392px;
    height: 1px;
}
#line_3 {
    background-color: rgba(218, 221, 230, 1);
    width: 1392px;
    height: 1px;
}
#line_4 {
    background-color: rgba(218, 221, 230, 1);
    width: 1392px;
    height: 1px;
}
