
#SettingDevInfo {
    background-color: rgba(227, 230, 233, 1);
}

#mainWidget {
    background-color: rgba(227, 230, 233, 1);
}

#centerWidget {
    background-color: rgba(31, 120, 255, 1);
    border-radius: 16px 0px 0px 16px;
    height: 940px;
    width: 270px;
}

#hostButton{
    border: none;
}
#radarButton{
    border: none;
}
#camerButton{
    border: none;
}
#batteryButton{
    border: none;
}

QToolButton#hostToolButton{
    border: none;
    qproperty-iconSize: 28px 28px;
    qproperty-icon:url(:/scanner/images/settings/host_icon_select.png);
}

QToolButton#radarToolButton{
    border: none;
    qproperty-iconSize: 28px 28px;
    qproperty-icon:url(:/scanner/images/settings/radar_icon.png);
}

QToolButton#camerToolButton{
    border: none;
    qproperty-iconSize: 32px 48px;
    qproperty-icon:url(:/scanner/images/settings/camer_icon.png);
}

QToolButton#batteryToolButton{
    border: none;
    qproperty-iconSize: 22px 30px;
    qproperty-icon:url(:/scanner/images/settings/battery_icon.png);
}

#hostLabel {
    width: 88px;
    height: 30px;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

#radarLabel {
    width: 88px;
    height: 30px;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

#camerLabel {
    width: 88px;
    height: 30px;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

#batteryLabel {
    width: 44px;
    height: 30px;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

