
#mainWidget {
    background-color: rgba(227, 230, 233, 1);
    border-radius: 16px;
    height: 420px;
    width: 1872px;
}

#setingWidget {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    height: 420px;
    width: 1872px;
}

#settingLabel {
    width: 104px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#grayLabel {
    width: 52px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#blackLabel {
    width: 52px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#label {
    width: 680px;
    height: 28px;
    color: rgba(168, 168, 168, 1);
    font-size: 20px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}

QToolButton#grayToolButton {
    border: none;
    qproperty-iconSize: 375px 210px;
    qproperty-icon: url(:/scanner/images/settings/gray.png);
}

QToolButton#blackToolButton {
    border: none;
    qproperty-iconSize: 375px 210px;
    qproperty-icon: url(:/scanner/images/settings/black.png);
}
