QWidget#SettingItem {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    width: 240px;
    height: 240px;
}

#mainWidget {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    width: 240px;
    height: 240px;
}

QToolButton#toolButton {
  border: none;
  qproperty-iconSize: 100px 101px;
}


#label {
    color: rgba(51, 51, 51, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

#button{
    border: none;
    background-color: rgba(73, 83, 102, 0.06);
}
