
#mainWidget {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
}

#closeButton {
    border: none;
    qproperty-iconSize: 26px 26px;
    qproperty-icon:url(:/scanner/images/close.png);
}

#label {
    color: rgba(42, 38, 56, 1);
    font-size: 30px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

#display {
    color: rgba(42, 38, 56, 1);
    font-size: 30px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

#password {
    background-color: rgba(246, 248, 250, 1);
    border-radius: 24px;
    height: 102px;
    width: 642px;

    color: rgba(42, 38, 56, 1);
    font-size: 24px;
    font-family: PingFangSC-Medium;
    text-align: center;
    white-space: nowrap;
    line-height: 24px;
}

#submit {
    background-color: rgba(48, 79, 254, 1);
    border-radius: 24px;
    height: 102px;
    width: 642px;

    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-family: PingFangSC-Medium;
    text-align: center;
    white-space: nowrap;
    line-height: 24px;
}
