
#mainWidget {
    background-color: rgba(227, 230, 233, 1);
    width: 1920px;
    height: 1080px;
}

#logo {

}

#infoWidget {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 16px;
    width: 1540px;
    height: 360px;
}

#verLabel {
    width: 52px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#verValLabel {
    width: 60px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#verDisLabel {
    width: 182px;
    height: 37px;
    color: rgba(31, 120, 255, 1);
    font-size: 26px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#updateLabel {
    width: 156px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#updateValLabel {
    width: 247px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#updateContentLabel {
    width: 104px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#updateContentValLabel {
    width: 45px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}


#buttomLabel {
    width: 606px;
    height: 30px;
    color: rgba(166, 168, 184, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

#line {
    background-color: rgba(218, 221, 230, 1);
    width: 1460px;
    height: 1px;
}
#line2 {
    background-color: rgba(218, 221, 230, 1);
    width: 1460px;
    height: 1px;
}
