
#mainWidget {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px 16px 16px 0px;
    width: 1602px;
    height: 940px;
}

#typeLabel {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    margin-top: 3px;
}
#pixLabel {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    margin-top: 3px;
}
#foucLabel {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    margin-top: 3px;
}
#lensLabel {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    margin-top: 3px;
}
#captureLabel {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    margin-top: 3px;
}


#typeValLabel {
    width: 129px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#pixValLabel {
    width: 129px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#foucValLabel {
    width: 129px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#lensValLabel {
    width: 129px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#captureValLabel {
    width: 129px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#line {
    background-color: rgba(218, 221, 230, 1);
    width: 1392px;
    height: 1px;
}

#line_2 {
    background-color: rgba(218, 221, 230, 1);
    width: 1392px;
    height: 1px;
}

#line_3 {
    background-color: rgba(218, 221, 230, 1);
    width: 1392px;
    height: 1px;
}
#line_4 {
    background-color: rgba(218, 221, 230, 1);
    width: 1392px;
    height: 1px;
}
