#mainWidget {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px 16px 16px 0px;
    width: 1602px;
    height: 940px;
}

#typeLabel {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    margin-top: 3px;
}
#durationLabel {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    margin-top: 3px;
}
#acLabel {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    margin-top: 3px;
}
#dcLabel {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    margin-top: 3px;
}
#channelLabel {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    margin-top: 3px;
}

#typeValLabel {
    width: 68px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#durationValLabel {
    width: 68px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#acValLabel {
    width: 68px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#dcValLabel {
    width: 68px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#channelValLabel {
    width: 68px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#line {
    background-color: rgba(218, 221, 230, 1);
    width: 1392px;
    height: 1px;
}

#line_2 {
    background-color: rgba(218, 221, 230, 1);
    width: 1392px;
    height: 1px;
}

#line_3 {
    background-color: rgba(218, 221, 230, 1);
    width: 1392px;
    height: 1px;
}
#line_4 {
    background-color: rgba(218, 221, 230, 1);
    width: 1392px;
    height: 1px;
}
