
#mainWidget {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px 16px 16px 0px;
    width: 1602px;
    height: 940px;
}

#type1Label {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

#len1Label {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}
#rate1Label {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}
#fov1Label {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}
#dis1Label {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}
#speed1Label {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}
#level1Label {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}


#type2Label {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}
#len2Label {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}
#rate2Label {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}
#fov2Label {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}

#dis2Label {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}
#speed2Label {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}
#level2Label {
    width: 132px;
    height: 30px;
    color: rgba(168, 168, 168, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
}


#type1ValLabel {
    width: 94px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#len1ValLabel {
    width: 94px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#rate1ValLabel {
    width: 94px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#fov1ValLabel {
    width: 94px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#dis1ValLabel {
    width: 94px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#speed1ValLabel {
    width: 94px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#level1ValLabel {
    width: 94px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}


#type2ValLabel {
    width: 94px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#len2ValLabel {
    width: 94px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#rate2ValLabel {
    width: 94px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#fov2ValLabel {
    width: 94px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#dis2ValLabel {
    width: 94px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#speed2ValLabel {
    width: 94px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}
#level2ValLabel {
    width: 94px;
    height: 37px;
    color: rgba(76, 76, 76, 1);
    font-size: 26px;
    font-family: PingFangSC-Medium;
    text-align: left;
    white-space: nowrap;
    line-height: 37px;
}

#line {
    background-color: rgba(218, 221, 230, 1);
    width: 1392px;
    height: 1px;
}

#line_2 {
    background-color: rgba(218, 221, 230, 1);
    width: 1392px;
    height: 1px;
}

#line_3 {
    background-color: rgba(218, 221, 230, 1);
    width: 1392px;
    height: 1px;
}
#line_4 {
    background-color: rgba(218, 221, 230, 1);
    width: 1392px;
    height: 1px;
}
#line_5 {
    background-color: rgba(218, 221, 230, 1);
    width: 1392px;
    height: 1px;
}
#line_6 {
    background-color: rgba(218, 221, 230, 1);
    width: 1392px;
    height: 1px;
}

