#centerWidget{
    background-color: rgba(255, 255, 255, 1);
    image: url(:/scanner/images/splash/background.png);
}

#logo {
    image: url(:/scanner/images/splash/logo.png);
}

#logoLabel {
    color: rgba(68, 68, 68, 1);
    font-size: 28px;

    font-family: NotoSansHans-DemiLight;
    text-align: left;
    white-space: nowrap;
    line-height: 28px;
}
