
#Tip {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 72px;
}

#backWidget {
    background-color: rgba(24, 24, 24, 0.6);
    height: 1920px;
    width: 1080px;
}

#mainWidget {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 36px;
}

#centerWidget {
  background-color: rgba(255, 255, 255, 1);
}

#closeButton {
    border: none;
    qproperty-iconSize: 26px 26px;
    qproperty-icon:url(:/scanner/images/close.png);
}

#centerLabel {
  color: rgba(68, 68, 68, 1);
  font-size: 48px;
  font-family: Helvetica;
  text-align: center;
  white-space: nowrap;
  line-height: 48px;
}

#label {
  color: rgba(42, 38, 56, 1);
  font-size: 28px;
  font-family: PingFangSC-Regular;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
}
