
#topWidget{
    width: 1920px;
    height: 64px;
}

#backLabel {
    border: none;
    image: url(:/scanner/images/top/back.svg);
}

#dateLabel{
    width: 265px;
    height: 36px;
    color: rgba(3, 11, 26, 1);
    font-size: 24px;
    font-family: PingFangSC-Semibold;
    text-align: left;
    white-space: nowrap;
    line-height: 33px;
}

#logoLabel{
    width: 140px;
    height: 40px;
    font-size: 28px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 40px;
}

#titleLabel {
    width: 140px;
    height: 40px;
    font-size: 28px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 40px;
}

#udiskLabel{
    width: 36px;
    height: 36px;
}

#diskLabel{
    width: 32px;
    height: 32px;
}

#cameraLabel {
    width: 32px;
    height: 28px;
}

#radarLabel {
    width: 32px;
    height: 32px;
}

#batteryLabel {
    width: 32px;
    height: 20px;
}
