
QPushButton#start0 {
    border-radius: 24px;
    image: url(:/scanner/images/toscan/todo.png);
    border: none;

    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    font-family: PingFangSC-Medium;
    text-align: center;
    white-space: nowrap;
}

#start {
    border-radius: 24px;
    border: none;
    qproperty-iconSize: 648px 130px;
    qproperty-icon: url(:/scanner/images/toscan/todo.png);
}

QPushButton#startButton {
    border: none;
}

#startLabel {
    color: rgba(255, 255, 255, 1);
    font-size: 28px;
    font-family: PingFangSC-Medium;
    text-align: center;
    white-space: nowrap;
    line-height: 40px;
}

#lineEdit_v1{
    background-color: rgba(255, 255, 255, 1);
    border-radius:30px;

    border: none;
    font: 24px "Microsoft YaHei";
    qproperty-focusLineColor: rgb(47, 162, 255);
    qproperty-maxVisibleItems: 5;
}

#name_v1 {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 24px;
    height: 84px;
    width: 708px;

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    padding: 0 0 0 20px;
}

#name {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    border: 1.5px solid rgba(226, 226, 226, 0.43);

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    padding: 0 0 0 20px;
}

#deflection {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    height: 84px;
    width: 708px;
    border: 1.5px solid rgba(226, 226, 226, 0.43);

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    padding: 0 0 0 20px;
}

#longitude {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    height: 87px;
    border: 1.5px solid rgba(226, 226, 226, 0.43);
    width: 225px;

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    padding: 0 0 0 20px;
}

#latitude {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    border: 1.5px solid rgba(226, 226, 226, 0.43);

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;

    padding: 0 0 0 20px;
}

#altitude {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    border: 1.5px solid rgba(226, 226, 226, 0.43);

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    padding: 0 0 0 20px;
}

QComboBox#type{
    background-color: rgba(255, 255, 255, 1);
    border: 1.5px solid rgba(226, 226, 226, 0.43);
    border-radius:24px;

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;

    padding: 0 0 0 20px;
}

AccountItem {
    qproperty-mouseTracking: 1;
}

QComboBox QAbstractItemView {
    margin-top: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);

    width: 80px;
    height: 33px;
    color: rgba(42, 38, 56, 1);
    font-size: 24px;
    font-family: PingFangSC-Semibold;
    text-align: center;
    white-space: nowrap;
    line-height: 33px;
    padding: 0 0 0 20px;
}
QComboBox QAbstractItemView::item {
    height: 88px;

    color: rgba(42, 38, 56, 1);
    font-size: 24px;
    font-family: PingFangSC-Semibold;
    text-align: center;
    white-space: nowrap;
    line-height: 33px;
}

QComboBox QAbstractItemView::item:hover {
  color: rgba(31, 120, 255, 1);
}

QComboBox QAbstractItemView::item:selected
{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
}

QComboBox::drop-down{
    width: 20px;
    background: transparent;
    padding-right: 25px;
}

QComboBox QAbstractItemView QScrollBar::handle{
    background:#cccccc;
    border-radius:3px;
    width: 6px;
}
QComboBox QAbstractItemView QScrollBar::sub-line{
    background:transparent;
}
QComboBox QAbstractItemView QScrollBar::add-line{
    background:transparent;
}

QComboBox::down-arrow{
    image: url(:/scanner/images/toscan/down.png);
}
QComboBox::down-arrow:hover{
    image: url(:/scanner/images/toscan/down.png);
}
QComboBox::down-arrow:on{
    image: url(:/scanner/images/toscan/up.png);
}

#interval {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    border: 1.5px solid rgba(208, 224, 233, 0.66);

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    padding: 0 0 0 20px;
}

#area {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    border: 1.5px solid rgba(226, 226, 226, 0.43);

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;

    padding: 0 0 0 20px;
}

#buildingName {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    border: 1.5px solid rgba(226, 226, 226, 0.43);

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;

    padding: 0 0 0 20px;
}

#lengthInput {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    border: 1.5px solid rgba(226, 226, 226, 0.43);

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    padding: 0 0 0 20px;
}

#width {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    border: 1.5px solid rgba(226, 226, 226, 0.43);

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    padding: 0 0 0 20px;
}

#height {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    border: 1.5px solid rgba(226, 226, 226, 0.43);

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    padding: 0 0 0 20px;
}


#level {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    border: 1.5px solid rgba(226, 226, 226, 0.43);

    color: rgba(73, 83, 102, 1);
    font-size: 22px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 30px;
    padding: 0 0 0 20px;
}
